<section class="sim-detail">
  <div *ngIf="loading" class="loading">Cargando personaje...</div>

  <div *ngIf="character && !loading" class="card-detail">

    <div class="left">
      <img [src]="'https://cdn.thesimpsonsapi.com/500' + character.portrait_path" alt="{{ character.name }}">
    </div>

    <div class="right">
      <h2>{{ character.name }}</h2>

      <p><strong>Status:</strong> {{ character.status }}</p>
      <p><strong>Occupation:</strong> {{ character.occupation }}</p>
      <p><strong>Gender:</strong> {{ character.gender }}</p>
      <p><strong>Age:</strong> {{ character.age }}</p>
      <p><strong>Birthday:</strong> {{ character.birthdate }}</p>
      <p><strong>Phrases:</strong> {{ character.phrases }}</p>

    </div>

  </div>
</section>
