:host {
  display: block;
  padding: 20px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  background: #fff8c6;
  height: 5000px;
}

h1 {
  margin: 0;
  color: #d38b00;
  font-size: 32px;
  text-align: center;
}

.lead {
  margin: 4px 0 20px;
  color: #856100;
  font-size: 16px;
    text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 18px;
  align-items: start;
}

.card {
  background: #fffef4;
  border: 2px solid #f7d34b;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform .15s ease, box-shadow .15s ease;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background: white;
  border-radius: 8px;
  border: 3px solid #ffe58a;
}

.card h3 {
  margin-top: 10px;
  margin-bottom: 0;
  color: #d38b00;
  font-size: 16px;
}
