:host { 
    display:block;
     padding:18px;
      font-family: Inter, Arial, sans-serif;
      background-color: black;
    box-shadow: 0px 15px 10px rgb(97, 97, 97);
      height: 5000px;
     }
.loading { 
    color:#1f6b52;
 }
.error { 
    background:#fff1f0;
     padding:10px; 
     border-radius:8px;
      color:#8b1c1c;
     }
.card { 
    display:flex;
     gap:18px; 
       background: linear-gradient(180deg,#13917c,#11f364);
      padding:12px; 
      border-radius:12px; 
      box-shadow: 0px 10px 10px rgb(5, 139, 16);
    }
.left { 
    width:240px; 
    height:240px; 
    background-size:cover;
     background-position:center; 
     border-radius:10px; 
     
    }
.right h2 {
     margin:0 0 6px 0;
 }
.meta {
     color:#000000; 
     margin-bottom:8px;
     }
.episodes {
     margin-top:10px;
      color:rgb(0, 0, 0);
     }
