.navbar-jm {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 16px;
  background:#000000f1;
  color:#f7f7f7;
  box-shadow: 10px 2px 10px rgb(41, 41, 41);
  .nav-links { 
    
    list-style:none;
     display:flex;
      gap:12px;
       margin:0; 
       padding:0;
    a { 
      background-color: rgb(63, 62, 62);
      border-radius: 10px;
      padding: 5px;
      color:#f8f8f8;
       text-decoration:none;
      &.active { 
        background-color: rgb(170, 165, 165);
        font-weight:700;
         color:#0c0c0c; }
    }
  }
}
.brand{
    font-size: 30px;
}